.fullPage {
  width: 75%;
  margin: auto;
  min-width: 470px;
  padding: 70px 0px;

  p, h2 {
    text-align: left;
    padding-top: 20px;
  }
}

.bio-pic {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col {
  margin: auto;
  text-align: center;
}