.card-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.img-container {
  background-size: cover;
  background-position: center;
  width: 130px;
  height: 100px;
  margin: auto;
}

.card {
  margin: 30px;
  padding: 30px;
  width: 350px;
  flex-flow: row wrap;
  background-color: #e9e9e9;
}