.card-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.title {
  text-align: center;
  padding-top: 50px;
}

.img-container {
  background-size: cover;
  background-position: center;
  margin: auto;
}

.card {
  margin: 30px;
  width: 390px;
  flex-flow: row wrap;
  background-color: $lightGrey;
}